<header class="bg-gray-4">
    <div class="container">

        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav">
                    {%- for link in site.links %}
                    {%- assign url = page.url | replace: '.html', '/' %}
                    {%- if link.url == url %}
                    {% assign class = 'nav-link active' %}
                    {% else %}
                    {% assign class = 'nav-link' %}
                    {% endif %}
                    <a class="{{ class }}" aria-current="page" href="{{ link.url | relative_url }}">{{ link.text }}</a>
                    {%- endfor %}
                </div>
            </div>
        </nav>

    </div>
</header>