<header class="bg-gray-4">
    <div class="container">

        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

{% include toggler.html %}

            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav">
                    {%- for link in site.data.header.links %}
                    {%- include variables/page-is-open.liquid %}
                    <a class="nav-link {%- if page-is-open %} active{% endif %}" aria-current="page" href="{{ link.url | relative_url }}">{{ link.text }}</a>
                    {%- endfor %}
                </div>
            </div>
        </nav>

    </div>
</header>