<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

{% seo title=false %}
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/leaflet.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/open-color.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

</head>