{% for day in days %}
{% assign slug = day.name | slugify %}
<button type="button" class="btn btn-outline-secondary {% if forloop.first %} active {% endif %}" data-bs-toggle="tab" data-bs-target="#{{ slug }}" role="tab" aria-controls="{{ slug }}" aria-selected="true">
    <span class="fs-5">{{ day.name }}</span>
</button>
{% endfor %}