{%- for name in names -%}
{%- assign full = name.first | append: ' ' | append: name.last -%}
{%- assign initial = name.last | slice: 0 | upcase -%}
{%- if letter != initial -%}
{%- unless forloop.first -%}
    </ul>
</div>
{%- endunless -%}
{%- assign letter = initial %}
<div>
    <h5 class="fw-light">{{ letter }}</h5>
    <ul class="list-unstyled">
{%- endif %}
        <li>{%- if name.email -%}<a href="{{ name.email | prepend: 'mailto:' }}">{{ full }}</a>{%- else -%}{{ full }}{%- endif -%}</li>
{%- endfor %}
    </ul>
</div>