#abc {
  @media (min-width: 576px) {
    column-count: 1;
  }

  @media (min-width: 768px) {
    column-count: 2;
  }

  @media (min-width: 992px) {
    column-count: 3;
  }

  div {
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
}

#map {
  height: 50vh;
}
