@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/InterVariable.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/InterVariable-Italic.woff2?v=4.0") format("woff2");
}

@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ZillaSlab-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/ZillaSlab-LightItalic.woff2") format("woff2");
}