.leaflet-control-layers-toggle {
  background-image: url(../images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/layers-2x.png);
}

.leaflet-default-icon-path {
  background-image: url(../images/marker-icon.png);
}
