$colors: (
  "gray",
  "red",
  "pink",
  "grape",
  "violet",
  "indigo",
  "blue",
  "cyan",
  "teal",
  "green",
  "lime",
  "yellow",
  "orange"
);

@each $color in $colors {
  @for $scale from 0 through 9 {
    .bg-#{$color}-#{$scale} {
      --bs-bg-opacity: 1;
      background-color: rgba(
        var(--oc-#{$color}-#{$scale}-rgb),
        var(--bs-bg-opacity)
      ) !important;
    }

    .border-#{$color}-#{$scale} {
      --bs-bg-opacity: 1;
      border-color: rgba(
        var(--oc-#{$color}-#{$scale}-rgb),
        var(--bs-bg-opacity)
      ) !important;
    }

    .color-#{$color}-#{$scale} {
      --bs-bg-opacity: 1;
      color: rgba(
        var(--oc-#{$color}-#{$scale}-rgb),
        var(--bs-bg-opacity)
      ) !important;
    }
  }
}
