@font-face {
  font-family: "Zilla Slab";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/ZillaSlab-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/Inter-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../webfonts/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Zilla Slab";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: url("../webfonts/ZillaSlab-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  src: url("../webfonts/Inter-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 500;
  src: url("../webfonts/Inter-MediumItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url("../webfonts/Inter-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: url("../webfonts/Inter-Italic.woff2") format("woff2");
}
.bg-gray-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-gray-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-gray-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-gray-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-gray-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-gray-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-red-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-red-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-red-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-red-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-red-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-red-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-pink-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-pink-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-pink-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-pink-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-pink-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-pink-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-grape-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-grape-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-grape-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-grape-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-grape-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-grape-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-violet-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-violet-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-violet-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-violet-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-violet-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-violet-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-indigo-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-indigo-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-indigo-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-indigo-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-indigo-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-blue-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-blue-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-blue-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-blue-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-blue-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-blue-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-cyan-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-cyan-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-cyan-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-cyan-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-cyan-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-teal-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-teal-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-teal-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-teal-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-teal-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-teal-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-green-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-green-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-green-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-green-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-green-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-green-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-lime-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-lime-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-lime-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-lime-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-lime-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-lime-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-yellow-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-yellow-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-yellow-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-yellow-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-yellow-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-yellow-9-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-0 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-0-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-0 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-0-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-0 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-0-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-1 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-1-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-1 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-1-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-1 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-1-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-2 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-2-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-2 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-2-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-2 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-2-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-3 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-3-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-3 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-3-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-3 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-3-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-4 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-4-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-4 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-4-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-4 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-4-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-5 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-5-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-5 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-5-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-5 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-5-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-6 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-6-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-6 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-6-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-6 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-6-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-7 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-7-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-7 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-7-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-7 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-7-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-8 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-8-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-8 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-8-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-8 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-8-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-9 {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--oc-orange-9-rgb), var(--bs-bg-opacity)) !important;
}

.border-orange-9 {
  --bs-bg-opacity: 1;
  border-color: rgba(var(--oc-orange-9-rgb), var(--bs-bg-opacity)) !important;
}

.color-orange-9 {
  --bs-bg-opacity: 1;
  color: rgba(var(--oc-orange-9-rgb), var(--bs-bg-opacity)) !important;
}

#digit {
  display: inline-block;
  font-size: 6rem;
  height: 6rem;
  line-height: 6rem;
  margin-top: 15%;
  width: 6rem;
}
@media (min-width: 576px) {
  #digit {
    font-size: 8rem;
    height: 8rem;
    line-height: 8rem;
    width: 8rem;
  }
}
@media (min-width: 768px) {
  #digit {
    font-size: 10rem;
    height: 10rem;
    line-height: 10rem;
    width: 10rem;
  }
}
@media (min-width: 992px) {
  #digit {
    font-size: 12rem;
    height: 12rem;
    line-height: 12rem;
    width: 12rem;
  }
}

#map {
  height: 65vh;
}

@media (min-width: 576px) {
  #roster {
    column-count: 1;
  }
}
@media (min-width: 768px) {
  #roster {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  #roster {
    column-count: 3;
  }
}
#roster div {
  page-break-inside: avoid;
  break-inside: avoid-column;
}

a {
  color: var(--oc-blue-7);
  text-decoration: none;
}
a:hover {
  color: var(--oc-blue-9);
}

body {
  background-color: var(--oc-gray-0);
  color: var(--oc-gray-8);
  font-family: "Inter", var(--bs-font-sans-serif);
  font-size: 1.15rem;
}

.btn-primary {
  background-color: var(--oc-blue-5) !important;
  border-color: transparent !important;
  color: var(--oc-gray-0) !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active {
  background-color: var(--oc-blue-7) !important;
}
.btn-primary.disabled {
  background-color: var(--oc-blue-3) !important;
}

.btn-secondary {
  background-color: var(--oc-gray-4) !important;
  border-color: transparent !important;
  color: var(--oc-gray-0) !important;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active {
  background-color: var(--oc-gray-6) !important;
}

.display-1 {
  font-family: "Zilla Slab", var(--bs-font-sans-serif);
}

.display-2 {
  font-family: "Zilla Slab", var(--bs-font-sans-serif);
}

.display-3 {
  font-family: "Zilla Slab", var(--bs-font-sans-serif);
}

.display-4 {
  font-family: "Zilla Slab", var(--bs-font-sans-serif);
}

.display-5 {
  font-family: "Zilla Slab", var(--bs-font-sans-serif);
}

.display-6 {
  font-family: "Zilla Slab", var(--bs-font-sans-serif);
}

.lead {
  font-size: 1.5rem;
}

.navbar-brand {
  color: var(--oc-gray-8);
}
.navbar-brand:hover {
  color: var(--oc-gray-9);
}

.nav-link {
  color: var(--oc-gray-7);
}
.nav-link:hover {
  color: var(--oc-gray-9);
}

.text-muted {
  color: var(--oc-gray-6) !important;
}
.text-muted a {
  color: inherit;
}
.text-muted a:hover {
  color: var(--oc-gray-9);
}

.leaflet-container {
  font-family: "Inter", var(--bs-font-sans-serif);
  font-size: 0.8rem;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-layers-toggle {
  background-image: url(../images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/layers-2x.png);
}

.leaflet-default-icon-path {
  background-image: url(../images/marker-icon.png);
}