---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        <hr class="my-4">
        {% assign groups = site.data.contributors.groups %}
        {% for group in groups %}
        <h5 class="fw-normal">{{ group.title }}</h5>
        {% if group.columns %}
        {% assign id = ' id="roster"' %}
        {% else %}
        {% assign id = '' %}
        {% endif %}
        <div {{ id }}>
            <ul class="list-unstyled">
                {% assign members = group.members | sort_natural: 'surname' %}
                {% for member in members %}
                {% assign full = member.name | append: ' ' | append: member.surname %}
                {% if member.email %}
                <li class="fw-light"><a href="mailto:{{ member.email }}">{{ full }}</a></li>
                {% else %}
                <li class="fw-light">{{ full }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</main>

{% include footer.html %}