---
layout: default
---

{% if page.title %}
{% assign title = page.title %}
{% else %}
{% assign title = site.title %}
{% endif %}

{% if page.description %}
{% assign description = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

{% include header.html %}

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        <div class="mt-4" id="map"></div>
    </div>
</main>

{% include footer.html %}