---
layout: default
---

{% include variables.liquid -%}
{% include header.html %}

<main class="my-4">
    <div class="container {%- if index %} px-5 py-3 bg-gray-2 rounded {%- endif %}">
        <div>
            <h1 class="font-slab color-gray-8 {%- if index %} display-3 {%- else %} display-5 {%- endif %}">{{ title }}</h1>
            {% if index %}
            <p class="lead">{{ description }}</p>
            <hr class="my-4">
            {% endif %}
            {{ content }}
        </div>
        <div class="mt-4">
            {% if index %}
            <div class="btn-group-lg mb-4" role="group">   
            {% include loop-buttons.liquid %}
            </div>
            {% elsif program %}
            <div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="d-block d-lg-none text-center mb-3">
                            <div class="btn btn-group p-0 aos-init aos-animate" role="tablist" data-aos="fade-up">
                                {% assign days = site.data.program.days %}
                                {% include loop-days.liquid %}
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="btn btn-group-vertical p-0 aos-init aos-animate" role="tablist" data-aos="fade-up">
                                {% assign days = site.data.program.days %}
                                {% include loop-days.liquid %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        {% for day in days %}
                        {% assign slug = day.name | slugify %}
                        <div class="tab-content aos-init aos-animate" data-aos="fade-up">
                            <div class="tab-pane fade {% if forloop.first %} active show {% endif %}" id="{{ slug }}" role="tabpanel" aria-labelledby="{{ slug }}-tab">
                                <ul class="list-unstyled">
                                    {% assign categories = site.data.program.categories %}
                                    {% include loop-events.liquid %}
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="row text-center">
                            <div class="btn-group-lg" role="group">
                                {% assign dailies = day.events | map: 'category' | uniq %}
                                {% for category in dailies %}
                                {% assign name = category | upcase %}
                                {% assign color = categories | where: 'name', category | map: 'color' | first | prepend: 'bg-' %}
                                <span class="h5"><span class="badge {{ color }}">{{ name }}</span></span>
                                {% endfor %}
                            </div>
                        </div> -->
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% elsif location %}
            <div id="map"></div>
            {% elsif contributors %}
            <div id="alphabet">
                {%- assign letter = empty %}
                {%- assign names = site.data.contributors.names | sort_natural: 'last' %}
                {% include loop-names.liquid %}

            </div>
            {%- endif %}
        </div>
    </div>
</main>

{% include footer.html %}