---
layout: default
---

{% include variables.liquid -%}
{% include header.html %}

<main class="my-4">
    <div class="container {%- if index %} px-5 py-3 bg-gray-2 rounded {%- endif %}">

        <div>
            <h1 class="font-slab color-gray-8 {%- if index %} display-3 {%- else %} display-5 {%- endif %}">{{ title }}</h1>
            {%- if index %}
            <p class="lead">{{ description }}</p>
            <hr class="my-4">
            {%- endif %}

{{ content }}
        </div>
        {%- if index %}
        <div class="btn-group-lg mb-4" role="group">
            {%- for button in site.data.index.buttons %}
            <a type="button" class="btn btn-outline-primary d-block d-lg-inline-block my-lg-0 {%- unless forloop.first or forloop.last %} my-2 mx-lg-2 {%- endunless %} {%- if button.disabled %} disabled {%- endif %}" href="{{ button.url }}">{{ button.text | upcase }}</a>
            {%- endfor %}
        </div>
        {%- elsif program %}
        <div>
            
        </div>
        {%- elsif location %}
        <div id="map"></div>
        {%- elsif contributors %}
        <div id="alphabet">
            {%- assign letter = empty %}
            {%- assign names = site.data.contributors.names | sort_natural: 'last' %}
            {%- for name in names -%}
            {%- assign fullname = name.first | append: ' ' | append: name.last -%}
            {%- assign initial = name.last | slice: 0 | upcase -%}
            {%- if letter != initial -%}
            {%- unless forloop.first -%}
                </ul>
            </div>
            {%- endunless -%}
            {%- assign letter = initial %}
            <div>
                <h5 class="fw-light">{{ letter }}</h5>
                <ul class="list-unstyled">
            {%- endif %}
                    <li>{%- if name.email -%}<a href="{{ name.email | prepend: 'mailto:' }}">{{ fullname }}</a>{%- else -%}{{ fullname }}{%- endif -%}</li>
            {%- endfor %}
                </ul>
            </div>

        </div>
        {% endif %}
    </div>
</main>

{% include footer.html %}